@font-face {
    font-family: "Gameless Sans";
    src: url("./fonts/gameless-sans.otf");
}

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background: rgb(0, 0, 0);
    cursor: url("assets/cur/unavailable.png");
}

.app {
    width: 100vw;
    height: 100%;
    background: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.warning-text {
    width: 1400px;
}

.subtitles-container {
    position: absolute;
    top: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-subtitle {
    max-width: 900px;
}

.text {
    font-size: 2em;
    color: white;
    font-family: "Gameless Sans", sans-serif;
    font-weight: 100;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
    margin: 0;
    display: none;
    z-index: 2;
}

.shake-effect {
    animation: fast-shake 0.15s infinite;
}

@keyframes fast-shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-3px, -2px) rotate(-1deg); }
    20% { transform: translate(-4px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 3px) rotate(0deg); }
    40% { transform: translate(3px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(3px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(3px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}